!!! 5
html(lang="en-us")

  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge;chrome=1")

  title(dir="ltr")= $pageTitle

  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", media="screen", href="css/styles.css")

  body
  header
    - if ($login_message)
      div#loginmessage
        =$login_message

  - if ($name):

    != $javascript_tasks

    div#sliders
      img(src=images/fontsize.png)
      != $fontsize_slider
      img(src=images/rowsize.png)
      != $rowheight_slider

    != $javascript_messages

    script(src="scripts/audiodisplay.js")
    script(src="scripts/recorder.js")
    script(src="scripts/main.js")
    script(src="scripts/uploadfile.js")
    script(src="scripts/timer.js")
    script(src="scripts/play_sample.js")


    = $javascript_navigation

    script(src="scripts/navigation.js")

    div#main
      div#doingtask
        = $doingtaskmessage

      div#instructions
        = $instructionsmessage

      div#prompt
        = $prompt 

      = $audio_object   

      div#viz

        div#firstblock

          canvas#analyser

        div#secondblock
          != $recordbutton
          
          div#timercontainer
            != $timer_element
            
          br
          br
          
          canvas#wavedisplay

          br
          = $listenbutton
          = $nextbutton

        = $uploadform

      div#messages

      div#progress


  - else:
    div#logincontainer
      div#recorderlogin
        h1 Kuka olet?
        form(name="login", action="index.php", method="post")
          p Tunnus: 
          input(type="text", name="username")
          p Salasana: 
          input(type="password", name="password")
          p
          input(type="submit", value="login")


      div#teacherlogin
        = $teacherlogin